.custom-list {
  font-family: "Roboto", sans-serif;
  max-width: 700px;
  margin: 32px auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.list-item .number {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 200px;
  padding: 0 30px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.custom-list h3 {
  margin: 4px 0;
  font-size: 20px;
  position: relative;
  padding-left: 16px;
}

.custom-list h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background: red;
}

.custom-list p {
  margin: 12px 0;
  line-height: 1.7;
  font-size: 16px;
  opacity: 0.7;
}

@media (max-width: 700px) {
  .custom-list {
    max-width: 500px;
  }

  .list-item,
  .list-item:nth-of-type(even) {
    flex-direction: column;
  }
}
